body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  margin-bottom: 0px;
}

table {
  /* width: 50%; */
  /* margin: 0 auto; */
}

.message-form {
  width: 50%
}
